VITE_FEEDBACK_PANEL_ITEMS_PATH=/api/feedback/getFeedbackPanelItems
VITE_AWS_RESOURCE_BASE_URL=https://simpple-stage-resources.s3.ap-southeast-1.amazonaws.com
VITE_PANEL_STREAM_BASE_URL=http://ifsc.test
